#crewai==0.28.8
#crewai-tools==0.1.6
pydantic==2.11.7
Streamlit==1.49.1

 #pip install --upgrade crewai
# pip install 'crewai[tools]'
# python -m crew
# .\.venv\Scripts\Activate.ps1
#streamlit run app.py

crewai==0.186.1
crewai-tools==0.71.0
